# Fichiers auxiliaires LaTeX
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb
*.xdv

# Bibliographie (biber)
*.bcf
*.run.xml

# Indexation (makeindex)
*.idx
*.ilg
*.ind

# Glossaries and acronym build files
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist

# Fichiers de compilation
*.pdf
*.dvi
*.ps

# Dossiers temporaires (selon l'éditeur)
_auto/
build/
output/

# Fichiers d'OS
.DS_Store
Thumbs.db
